[project]
	description = Web drupal.cat
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rodrigo (rodrigoaguilera)
[access "refs/for/refs/*"]
	read = group user/Rodrigo (rodrigoaguilera)
	push = group user/Rodrigo (rodrigoaguilera)
	label-Code-Review = -2..+2 group user/Rodrigo (rodrigoaguilera)
	label-Verified = -1..+1 group user/Rodrigo (rodrigoaguilera)
	rebase = group user/Rodrigo (rodrigoaguilera)
	removeReviewer = group user/Rodrigo (rodrigoaguilera)
	submit = group user/Rodrigo (rodrigoaguilera)
[access "refs/heads/*"]
	read = group user/Rodrigo (rodrigoaguilera)
	create = group user/Rodrigo (rodrigoaguilera)
	push = +force group user/Rodrigo (rodrigoaguilera)
	pushMerge = group user/Rodrigo (rodrigoaguilera)
[access "refs/tags/*"]
	push = +force group user/Rodrigo (rodrigoaguilera)
	pushTag = group user/Rodrigo (rodrigoaguilera)
	pushSignedTag = group user/Rodrigo (rodrigoaguilera)
